<table width="100%" bgcolor="#202020" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
    <tbody>
    <tr>
        <td>
            <table width="1000" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                <tbody>
                <tr>
                    <td width="100%">
                        <table width="1000" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                            <tbody>
                            <tr>
                                <td width="24%" height="20" align="center" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size                                    : 15px;color: #ffffff">
                                    <div align="left"><br>
                                        Address<br><br>
                                        Expolanka Freight (Pvt) Ltd<br>
                                        No.390 Avissawella Road,<br>
                                        Wellampitiya,<br>
                                        Sri Lanka.<br>
                                    </div></td>
                                <td width="47%" height="20" align="center" valign="middle" style="font-family: Helvetica, arial, sans-serif;                                      font-size: 13px;color: #ffffff">
                                    <a href="#" style="text-decoration: none; color: #9ec459">@ 2016 Expolanka Freight (Pvt) Ltd  </a>
                                    <br/>
                                    <br/>
                                    PLEASE DO NOT REPLY. THIS IS A SYSTEM GENERATED MESSAGE</td>
                                <td width="29%" height="20" align="center" valign="middle" style="font-family: Helvetica, arial, sans-serif; font-size	                                     : 14px;color: #ffffff">
                                    <table width="100%" border="0" cellspacing="1" cellpadding="1">
                                        <tr><td width="15%" height="20"></td>
                                        </tr>
                                        <tr>
                                            <td>Ext</td>
                                            <td><div align="center">:</div></td>
                                            <td>470</td>
                                        </tr>
                                        <tr>
                                            <th>Phone</th>
                                            <td width="8%"><div align="center">:</div></td>
                                            <td width="77%"><p>+94 11 4791000</p></td>
                                        </tr>
                                        <tr>
                                            <td>Fax</td>
                                            <td><div align="center">:</div></td>
                                            <td>F +94 11 2574213, 2576725</td>
                                        </tr>
                                        <tr>
                                            <td>Web</td>
                                            <td><div align="center">:</div></td>
                                            <td>www.expofreight.com</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><div align="center">:</div></td>
                                            <td>lka-info@expofreight.com</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td width="24%" height="20"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>